
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #09427ba9;
    
}
   
  
  
  input[type = "text"],select{
    border:00;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #e7e6e8;
    padding: 10px 20px;
    width: 100px;
    outline: none;
    color: rgb(18, 18, 18);
    border-radius: 204px;
    transition: 0.25s;
  }

input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #010f07;
    padding: 10px 40px;
    outline: none;
    color: rgb(12, 12, 13);
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }
  .box input[type = "submit"]:hover{
    background: #2ecc71;
  }